{% include 'includes/head.html' %}
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->
        {% include "adminapp/includes/aside.html" %}
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->
          {% include "adminapp/includes/navbar.html" %}

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row invoice-add">
                <!-- Invoice Add-->
                <div class="col-lg-12 col-12 mb-lg-0 mb-4">
                  <div class="card invoice-preview-card">
                    <div class="card-body">
                          <div class="card-header d-flex align-items-center justify-content-between">
                            <h5 class="card-header">Team</h5>
                            <button class="float-end btn btn-primary" data-bs-toggle="modal" data-bs-target="#new-user" >Add Team Member</button>
                          </div>
                          <div class="card-datatable table-responsive pt-0">
                            <table class="datatables-basic1 table">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Cafe & Restaurant</th>
                                    <th>Name</th>
                                    <th>Post</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                {% if teams %}
                                {% for us in teams %}
                                <tr>
                                    <th></th>
                                    <td>{{ us.id }}</td>
                                    <td>{{ us.cafe.cafe_name }}</td>
                                    <td>{{ us.name }}</td>
                                    <td>{{ us.post }}</td>
                                    <td><img src="{{us.image.url}}" width="100" alt=""></td>
                                    <td>
                                      <div class="d-flex ">
                                        <a href="{% url "team_detail" us.id %}" class="btn btn-primary me-2"><i class="menu-icon tf-icons ti ti-pencil" aria-hidden="true"></i></a>
                                        <button data-bs-toggle="modal" data-bs-target="#delete_team" onclick="delete_team({{us.id}})" class="btn btn-danger"><i class="menu-icon tf-icons ti ti-trash " aria-hidden="true"></i></button>                                       
                                      </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>

                            {% if teams.paginator.num_pages > 1 %}
                            <nav aria-label="Page navigation" class="float-end mt-3">
                              <ul class="pagination">
                                  {% if teams.has_previous %}
                                      <li class="page-item">
                                          <a class="page-link waves-effect" href="?page=1"><i class="ti ti-chevrons-left ti-xs"></i></a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link waves-effect" href="?page={{ teams.previous_page_number }}">previous</a>
                                      </li>
                                  {% endif %}
                          
                                  {% for num in teams.paginator.page_range %}
                                      {% if teams.number == num %}
                                          <li class="page-item active">
                                              <a class="page-link waves-effect" href="?page={{ num }}">{{ num }}</a>
                                          </li>
                                      {% elif num > teams.number|add:"-3" and num < teams.number|add:"3" %}
                                          <li class="page-item">
                                              <a class="page-link waves-effect" href="?page={{ num }}">{{ num }}</a>
                                          </li>
                                      {% endif %}
                                  {% endfor %}
                          
                                  {% if teams.has_next %}
                                      <li class="page-item">
                                          <a class="page-link waves-effect" href="?page={{ teams.next_page_number }}">next</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link waves-effect" href="?page={{ teams.paginator.num_pages }}"><i class="ti ti-chevrons-right ti-xs"></i></a>
                                      </li>
                                  {% endif %}
                              </ul>
                          </nav>
                          {% endif %}

                          <div class="modal fade" id="delete_team" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <h3 class="text-center text-dark">
                                    Are you sure you want to delete it!
                                  </h3>
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                  <button type="button" class="btn btn-dark text-white waves-effect mx-2" data-bs-dismiss="modal">
                                    No
                                  </button>
                                  <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="team_id" value="" id="id_for_delete_c">
                                    <input type="hidden" name="type" value="delete">
                                    <button type="submit" class="btn btn-primary waves-effect waves-light mx-2">Yes</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                                <div class="modal fade bd-example-modal-lg" id="new-user" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="container mt-3 mb-3">
                                                <form id="" class="mb-3" action="" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <h3 class="text-center mt-2">Add New Member</h3>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                              <label for="cafe" class="form-label">Cafe & Restaurant</label>
                                                              <select class="form-control mt-1 mb-2" id="cafe" name="cafe" required>
                                                                  {% for caf in cafes %}
                                                                      <option value="{{ caf.id }}">{{ caf.cafe_name }}</option>
                                                                  {% endfor %}
                                                              </select>
                                                            </div>                       
                                                            <div class="mb-3">
                                                                  <label for="post" class="form-label">Post</label>
                                                                  <input
                                                                    type="text"
                                                                    class="form-control"
                                                                    id="post"
                                                                    name="post"
                                                                    placeholder="Enter member post"
                                                                    autofocus
                                                                  />
                                                            </div>
                                                            <div class="form-group mt-3">
                                                                <label for="image">Image</label>
                                                                <input type="file" accept="image/*" required class="form-control-file mt-1 mb-2" id="image" name="image">
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="mb-3">
                                                                <label for="name" class="form-label">Name</label>
                                                                <input
                                                                  type="text"
                                                                  class="form-control"
                                                                  id="name"
                                                                  name="name"
                                                                  placeholder="Enter name"
                                                                  autofocus
                                                                />
                                                            </div>
                                                            <div class="mb-3 form-password-toggle">
                                                                <div class="d-flex justify-content-between">
                                                                  <label class="form-label" for="description">Description</label>
                                                                </div>
                                                                <div class="input-group input-group-merge">
                                                                  <textarea required id="description" class="form-control" name="description"></textarea>
                                                                </div>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="type" value="new-team">
                                                    <div class="mb-3 mt-3">
                                                      <button class="btn btn-primary d-grid w-100" type="submit">Add new member</button>
                                                    </div>
                                                </form>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            {% include "includes/footer_aside.html" %}
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <script>
        function delete_team(id){
            document.getElementById("id_for_delete_c").value = id;
          }
    </script>  
    <!-- / Layout wrapper -->
    {% include 'includes/messages.html' %}
{% include 'includes/footer.html' %}
